@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 222.2 84% 4.9%;
      --foreground: 210 40% 98%;

      --card: 222.2 84% 4.9%;
      --card-foreground: 210 40% 98%;

      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;

      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 11.2%;

      --secondary: 217.2 32.6% 17.5%;
      --secondary-foreground: 210 40% 98%;

      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;

      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;

      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 212.7 26.8% 83.9%;
    }
  }

  @layer base {
    * {
      @apply text-white transition-all duration-300 ;
    }
    body {
      @apply  font-primary bg-zinc-950 text-white;
    }

    h1{
      @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
    }

    h2{
      @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
    }

    h3{
      @apply text-[20px] xl:text-[24sspx] leading-[1.1] font-semibold;
    }
    
    .text-outline{
      -webkit-text-stroke: 1px #ffffff;
    }
  
    .text-outline-hover{
      -webkit-text-stroke: 1px #166466;
    }
  }